
@media only screen and (min-width: 1000px) {
    body {
        font-size: 1rem;
    }

    .wrapper{
        scroll-snap-type: none;
    }

    #presentation-desc {
        width: 60%;
    }

    .logo {
        width: 50%;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .slide__title {
        font-size: 3rem;
    }

    .slide__number {
        font-size: 2rem;
        top: 1em;
    }

    .column{
        align-items: center;
        flex-direction: row;
    }

    .fill {
        width: 20%;
        height: 15%;
    }

    #contact::before {
        background-size: 60% auto;
    }

    #mail {
        width: 30%;
    }

    .contact-logo {
        max-width: 30%;
        height: auto;
    }

    .row{
        margin: auto 25%;
    }
}