@font-face {
    font-family: Rocket; src: url("../font/rocket.ttf");
}
@font-face {
    font-family: Simvoni; src: url("../font/bit-light.otf");
}

html.sr section {
    visibility: hidden;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    color: #edf0ff;
    font-family: Simvoni;
    font-size: 1rem;
    letter-spacing: 0.8;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    position:relative;
}

#presentation-desc{
    margin-top: 1em;
}


#first::before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    background-image: url("../img/background-3.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

#currently::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  background-image: url("../img/walker.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: -1;
}

#projects::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  background-image: url("../img/background-projects.gif");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}



#contact::before{
    background-size: 150% auto;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  background-image: url("../img/background-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}






#name {
    font-size: 2rem;
    font-family: Rocket;
    font-weight: bold;
}


.section-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.wrapper{
    scroll-snap-type: mandatory; 
    scroll-snap-points-y: repeat(100vh); 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 100vh;

}

.section-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    height: 90%;    
}

.logo{
    margin: 0.6em;
    width: 80%;
}

#currently{
    text-align: center;
}

.column{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}



#walker{
    height:15%;
    position: absolute;
    padding: 1em;
    bottom: 0;
    left: 0;
}

.card-wrapper{
    height: 300px;
    width: 300px;
    background-color: aqua;
}

#check-out-more{
    margin-top: 10em;
}

#mail{
    width:60vw;
}

.row{
    margin:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.contact-logo{
    max-width: 50%;
    height: auto;
}

.solid{
    text-shadow: 0 0 6px #000, 0 1px #535b5e, -1px 0 #88969b, -1px 2px #535b5e, -2px 1px #88969b, -2px 3px #535b5e, -3px 2px #88969b, -3px 4px #535b5e, -4px 3px #88969b, -4px 5px #535b5e, -5px 4px #88969b, -5px 6px #535b5e, -6px 5px #88969b, -6px 7px #535b5e;
}

#email{
    font-size: 1.5rem;
    margin: 2em auto;
    text-align: center;
}