
button{
	font-size: 2.2rem;
}

.slideshow {
	position: relative;
	width: 100%;
	padding: 0 0 3.5rem 0;
	pointer-events: none;
	overflow: hidden;
}


.slide {
	width: 100%;
	height:50vh;
	top: 0;
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	justify-items: center;
}

.slide--current {
	position: relative;
}

.slide__img-wrap {
	grid-area: 1 / 1 / 1 / 1;
	width: 75%;
	height: calc(100vh - 13rem);
	max-height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0;
	outline: 3px solid transparent;
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: contain;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	backface-visibility: hidden;
	pointer-events: none;
}


.slide__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--color-reveal);
	transform: translate3d(-100%,0,0);
	pointer-events: none;
}

.slide__number {
	font-size: 1.5rem;
	position: absolute;
	top: 5.25rem;
	opacity: 0;
	
}

.slide__title {
	text-align: center;
	margin: 0;
	grid-area: 1 / 1 / 1 / 1;
	font-size: 2rem;
	color: var(--color-title);
	position: relative;
	margin-bottom: 1.25rem;
	opacity: 0;
}

.slide--current .slide__img-wrap,
.slide--current .slide__number,
.slide--current .slide__title {
	opacity: 1;
}

.slidenav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: lowercase;
}

.slidenav__item {
	pointer-events:auto;
	border: 0;
	background: none;
	text-transform: inherit;
	position: relative;
	line-height: 1;
	width:2em;
	height:2em;
	background-image: url("../img/navigation-button.png");
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slidenav__item:active:hover{
	background-image: url("../img/navigation-button-pressed.png");
}


.slidenav__item::before {
	right: 100%;
}

.slidenav__item::after {
	left: 100%;
}

.slidenav__preview {
	pointer-events: auto;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	border: 0;
	background: none;
	padding: 1rem;
	transition: 0.3s transform;
}


.slidenav__preview--open {
	transform: translateX(-50%) rotate(180deg);
}

.preview,
.preview__img-wrap,
.preview__img,
.preview__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview__img-wrap {
	overflow: hidden;
	opacity: 0;
}

.preview__img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	backface-visibility: hidden;
}

.preview__img-reveal {
	background: var(--color-reveal);
}

.preview__title {
	position: relative;
	font-size: 1.5rem;
	opacity: 0;
	padding: 0 1rem;
	margin: 0 0 1rem 0;
	text-align: center;
}

.preview__content {
	position: relative;
	text-align: justify;
	opacity: 0;
	padding: 0 1rem;
}

.preview__content p {
	margin: 0;
}

#toggle-button-icon{
	width:1.75em;
	height:1.75em;
	background-image: url("../img/toggle-button.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#toggle-button-icon:active:hover{
	background-image: url("../img/toggle-button-pressed.png");
}


#toggle-button-icon.slidenav__preview--open {
	background-image: url("../img/toggle-button-active.png");
}

.click-enabled{
	pointer-events: all;
}


@media screen and (min-width: 53em) {

	.slideshow {	
		padding: 0;
		margin: 0;
	}

	.preview__title {
		font-size: 2.5rem;
	}
	.preview__content {
		padding: 0 5rem;
		max-width: 600px;
	}
	.slide__img::after,
	.preview__img::after {
		display: none;
	}
}